<% max_avg, min_avg, total = @data[0..2] %>
<% data = @data[3..-1] %>
<% even, odd = data.partition.each_with_index{ |el, i| i.even? } %>
<% profit = @profit_booked + 0.6 %>
<% profit_index = @default.find_index(profit) %>
<% profit_max, profit_min = [(even[profit_index] / total.to_f * 100).round(2)], [(odd[profit_index] / total.to_f * 100).round(2)] %>
<% (profit_index+1..even.count - 1).to_a.each do |index| %>
  <%  profit_max << (even[index] / even[index - profit_index].to_f * 100).round(2) if even[index - 1] != 0 %>
  <%  profit_min << (odd[index] / odd[index - profit_index].to_f * 100).round(2) if odd[index - 1] != 0 %>
<% end %>

<div class="common_info">
  <table class="table table-bordered" >
    <tr>
      <th rowspan="1">Maximum_Average</th>
      <td><%= max_avg.round(3) %></td>
    </tr>
    <tr>
      <th rowspan="1">Minimum_Average</th>
      <td><%= min_avg.round(3) %></td>                
    </tr>
    <tr>
      <th rowspan="1">Total</th>      
      <td><%= total %></td>         
    </tr>    
  </table>
</div>

<div class="detail_info">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Price</th>
        <th>Max_count</th>
        <th>Min_Count</th>
        <th>Max_count_%</th>
        <th>Min_Count_%</th>
        <th>Profit_max_%</th>
        <th>Profit_min_%</th>                                
      </tr>
    </thead>
    <tbody>           
      <% @default.each_index do |index|%>
        <tr>
          <td><%= @default[index].round(1) %></td>
          <% if index > 0 %>          
            <td><%= even[index - 1] != 0 ? even[index] : nil %></td>
            <td><%= odd[index - 1] != 0 ? odd[index] : nil %></td>
            <td><%= even[index - 1] != 0 ? ((even[index] / total.to_f) * 100).round(2).to_s + "%" : nil %></td>
            <td><%= odd[index - 1] != 0 ? ((odd[index] / total.to_f) * 100).round(2).to_s + "%" : nil %></td>         
            <td><%= (index < profit_index or profit_max[index - profit_index].nil?) ? nil : profit_max[index - profit_index].to_s + "% .......(Buy/Sell @ #{(@default[index - profit_index] - 0.1).round(1)})" %> </td>
            <td><%= (index < profit_index or profit_min[index - profit_index].nil?) ? nil : profit_min[index - profit_index].to_s + "% .......(Buy/Sell @ #{(@default[index - profit_index] - 0.1).round(1)})" %> </td>
          <% else %>
            <td><%= even[index] %></td>
            <td><%= odd[index] %></td>
            <td><%= ((even[index] / total.to_f) * 100).round(2) %>%</td>
            <td><%= ((odd[index] / total.to_f) * 100).round(2) %>%</td>          
            <td>  </td>
            <td>  </td>
          <% end %>          
        </tr>
      <% end %>                    
    </tbody>
  </table>
</div>


